nav {
    margin-top: 20px;
    margin-bottom: 30px;
}

#logo {
    transform: translateY(-37px);
    width: 580px;
    animation: 0.5s movingGlow linear infinite;
}

@keyframes movingGlow {
    0% , 100% {
        filter : drop-shadow(0px 5px 5px #53caff)
    }
    25% {
        filter : drop-shadow(5px 0px 5px #53caff)
    }
    50% {
        filter : drop-shadow(0px -5px 5px #53caff)
    }
    75% {
        filter : drop-shadow(-5px 0px 5px #53caff)
    }
}
